<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Utilisateur</title>
  <th:block th:replace="~{fragment-meta :: html-header}"></th:block>
</head>
<body>
<div th:fragment="single-user (user)">
  <tr>
    <form class="form-signin" th:action="@{/admin/updateUser/{id}(id=${user.username})}" method="GET">
      <td th:text="${user.username}">John</td>
      <td>
        <button class="btn btn-primary" type="submit">Modifier</button>
      </td>
    </form>
  </tr>
</div>
</body>
</html>