/* CSS nav bar logo */

.bg-light {
    background-color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-logo {
    width: 150px;
    height: 70px;
    background: url("Logo_Jonathan.png") no-repeat center center;
    background-size: contain;
}

.title-bar {
    text-align: center;
    margin-top: 60px;
}

/* CSS bloc article */

.article-titre {
    font-size: 24px;
    margin-bottom: 10px;
}
.article-dates {
    font-style: italic;
    margin-bottom: 10px;
}
.article-description {
    margin-bottom: 10px;
}


.articles-container {
    text-align: center;
    margin-bottom: 20px;
}

.article-text-content {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    background-color: white;
}

.commentaires-section {
    margin-top: 20px;
}

#header {

    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

#articles {
    position: relative;
    height: 100%;
}

.pagination {
    display: inline-block;
    margin-top: 10px;
}

.pagination a {
    color: #007bff;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #007bff;
    color: #fff;
}

.pagination .active {
    background-color: #007bff;
    color: #fff;
}
/* CSS image droit gauche */

.motif {
    position: fixed;
    width: 280px;
    height: 280px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: -1;
}

.motif-left-visible {
    left: -147px;
    top: 28%;
    background-image: url("logo_horde.png");
}

.motif-right-visible {
    right: -135px;
    top: 28%;
    background-image: url("logo_alliance_cute.png");
}

p {
    text-align: justify;
}

