<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page des articles</title>
    <th:block th:replace="~{fragment-meta :: html-header}"></th:block>
</head>
<header th:replace="~{fragment-header :: header}"></header>
<body>

<h1 class="text-center">Liste des Articles</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div id="articles" class="articles-container">
                <div th:each="article : ${articles}">
                    <div class="box-article mb-4">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <div class="article-text-content">
                                    <h2 class="article-titre" th:text="${article.title}"></h2>
                                    <div class="article-dates">
                                        Créé par <span th:text="${article.createdBy}">John</span>
                                        le <span
                                            th:text="${#temporals.format(article.createdAt, 'dd/MM/yyyy à HH:mm:ss')}">04/01/2023</span>
                                    </div>
                                    <div class="article-description">
                                        <p th:text="${article.description}"></p>
                                        <a th:href="@{/fragments/articles/{id}(id=${article.id})}" id="read-more-link"
                                           class="btn btn-primary">Lire la suite</a>
                                        <!-- Bouton de modification (affiché pour l'administrateur) -->
                                        <a th:href="@{/admin/articles/{id}/edit(id=${article.id})}"
                                           class="btn btn-secondary"
                                           th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                            Modifier
                                        </a>

                                        <!-- Bouton de suppression (affiché pour l'administrateur) -->
                                        <button class="btn btn-danger" data-article-id="${article.id}">Supprimer</button>

                                    </div>
                            </div>
                            <div class="commentaires-section">
                                <div th:if="${article.commentaires.size() > 0}">
                                    <h3 class="title-bar text-center mb-4">Commentaires :</h3>
                                    <ul class="list-group">
                                        <li th:each="commentaire : ${article.commentaires}" class="list-group-item">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="commentaire">
                                                    <div class="commentaire-info">
                                                            <span class="badge bg-secondary">Par <span
                                                                    th:text="${commentaire.user}"></span></span>
                                                        <span class="badge bg-secondary">le <span
                                                                th:text="${#temporals.format(commentaire.commentAt, 'dd/MM/yyyy à HH:mm:ss')}"></span></span>
                                                    </div>
                                                    <p th:text="${commentaire.description}"></p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div th:if="${article.commentaires.size() == 0}">
                                    <p class="text-center">Aucun commentaire pour cet article.</p>
                                </div>
                                <h3 class="title-bar text-center mb-4">Ajouter un commentaire :</h3>
                                <form th:action="@{'/articles/' + ${article.id} + '/commentaires'}"
                                      th:object="${commentaire}"
                                      method="post" th:id="form-create-commentaire" data-article-id="${article.id}">
                                    <input type="hidden" name="id_article" th:value="${article.id}"/>
                                    <input type="hidden" name="user" th:value="${#authentication.principal}"/>
                                    <div class="mb-3">
                                        <label for="description" class="form-label">Description:</label>
                                        <textarea id="description" name="description" class="form-control"
                                                  th:field="*{description}"></textarea>
                                        <span class="text-danger" th:if="${#fields.hasErrors('description')}"
                                              th:errors="*{description}"></span>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Ajouter un commentaire</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../static/articles.js" th:src="@{/articles.js}" type="module"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
