<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Création d'un commentaire</title>
</head>
<body>
<h1>Création d'un commentaire</h1>
<form action="/articles/{articleId}/commentaires" method="post" th:object="${commentaire}">
  <input type="hidden" name="articleId" th:value="${commentaire.article.id}" />
  <div>
    <label>Description:</label>
    <textarea name="description" th:field="*{description}"></textarea>
    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
  </div>

  <button type="submit">Ajouter</button>
</form>
</body>
</html>
