<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Article</title>
    <th:block th:replace="~{fragment-meta :: html-header}"></th:block>
</head>
<body>
<div th:fragment="single-article (article)" class="box-article">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="box-article">
                <div class="article-text-content">

                    <h2 class="article-titre" th:text="${article.title}"></h2>
                    <div class="article-dates">
                        Créé par <span th:text="${article.createdBy}">John</span>
                        le <span
                            th:text="${#temporals.format(article.createdAt, 'dd/MM/yyyy à HH:mm:ss')}">04/01/2023</span>
                    </div>

                    <div class="article-description">
                        <p th:text="${article.description}"></p>
                        <a th:href="@{/fragments/articles/{id}(id=${article.id})}" id="read-more-link" class="btn btn-primary">Lire la suite</a>

                    </div>

                    <!-- Vérifier s'il y a des commentaires associés à l'article -->
                    <div th:if="${article.commentaires.size() > 0}">
                        <h3>Commentaires :</h3>
                        <ul>
                            <!-- Parcourir la liste des commentaires de l'article -->
                            <li th:each="commentaire : ${article.commentaires}">
                                <p th:text="${commentaire.description}"></p>
                                <!-- Afficher les autres informations du commentaire -->
                            </li>
                        </ul>
                    </div>

                    <div th:if="${article.commentaires.size() == 0}">
                        <p>Aucun commentaire pour cet article.</p>
                    </div>
                    <!-- Formulaire de création de commentaires -->
                    <div th:if="${!isHomePage}">
                    <h3>Ajouter un commentaire :</h3>
                    <form th:action="@{'/articles/' + ${article.id} + '/commentaires'}" th:object="${commentaire}" method="post" th:id="form-create-commentaire" data-article-id="${article.id}">
                        <input type="hidden" name="id_article" th:value="${article.id}" />
                        <input type="hidden" name="user" th:value="${#authentication.principal}" />

                        <div class="mb-3">
                            <label for="description" class="form-label">Description:</label>
                            <textarea id="description" name="description" class="form-control" th:field="*{description}"></textarea>
                            <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Ajouter un commentaire</button>
                    </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/articles.js" th:src="@{/articles.js}" type="module"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>