<!-- fragment-background-images.html -->
<th:block th:fragment="background-images">
  <style>
    .background-image-left {
      background-image: url(/logo_horde.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 50%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .background-image-right {
      background-image: url(/logo_alliance_cute.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 50%;
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
      z-index: -1;
    }
  </style>
</th:block>
