<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <th:block th:replace="~{fragment-meta :: html-header}"></th:block>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>

</head>
<header th:fragment="header">
    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="/index">
            <div class="navbar-logo"></div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view/articles">Articles</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}">Connexion / Inscription</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/admin/create_new_article}">Créer un nouvel article</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/change-password}">Changer de mot de passe</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">Se déconnecter</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-bar text-center mb-4">
                    <h1>World Of Warcraft</h1>
                </div>
                <div class="text-left">
                    <span th:if="${#authentication.principal != null}">
                    <span class="user-label">Bienvenue</span>
                    <span class="user-name" sec:authentication="name"></span>
                    </span>

                </div>
            </div>
        </div>
    </div>
</header>
</html>