<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog World Of Warcraft</title>
    <th:block th:replace="~{fragments/fragment-meta :: html-header}"></th:block>
</head>
<header th:replace="~{fragments/fragment-header :: header}"></header>
<div th:replace="~{fragments/fragment-motifs}"></div>
<body>

<div id="header">
    <th:block th:replace="~{fragments/fragment-pagination :: pagination(page=${page},pageCount=${pageCount})}"></th:block>
    <button id="btn-refresh-pollings" class="btn-outline-primary btn-sm">Rafraîchir</button>&nbsp;
</div>
<div th:if="${successMessage}" class="alert alert-success">
    <p th:text="${successMessage}"></p>
</div>


<div id="articles" th:fragment="all-articles" class="articles-container row justify-content-center">
    <div th:each="article : ${articles}">
        <div th:replace="~{fragments/fragment-article :: single-article(article=${article})}" class="col-md-6 mb-4"></div>
    </div>
</div>

<script src="../static/motifs.js" th:src="@{/motifs.js}" type="module"></script>
<script src="../static/articles.js" th:src="@{/articles.js}" type="module"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>