<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Inscription</title>
  <th:block th:replace="~{fragment-meta :: html-header}"></th:block>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">
</head>
<header th:replace="~{fragment-header :: header}">
  <h1>World Of Warcraft</h1>
</header>
<body>
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh">
  <div class="col-md-6">
    <h2 class="text-center mb-4">Inscription</h2>

    <form th:object="${user}" th:action="@{/inscription}" method="post">

      <div class="alert alert-danger" th:if="${#fields.hasGlobalErrors()}">
        <p th:each="error : ${#fields.globalErrors()}" th:text="${error}"></p>
      </div>

      <div class="mb-3">
        <label class="form-label" for="login">Login :</label>
        <input class="form-control" id="login" type="text" name="login" th:field="*{login}">
        <span class="text-danger" th:errors="*{login}">Error</span>
      </div>

      <div class="mb-3">
        <label class="form-label" for="password">Mot de passe :</label>
        <input class="form-control" id="password" type="password" name="password" th:field="*{password}">
        <span class="text-danger" th:errors="*{password}">Error</span>
      </div>

      <div class="mb-3">
        <label class="form-label" for="confirmPassword">Confirmation :</label>
        <input class="form-control" id="confirmPassword" type="password" name="confirmPassword" th:field="*{confirmPassword}">
        <span class="text-danger" th:errors="*{confirmPassword}">Error</span>
      </div>

      <div class="text-center">
        <button type="button" class="btn btn-secondary" onclick="window.location='/'">Annuler</button>
        <button type="submit" class="btn btn-primary">Créer</button>
      </div>
    </form>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
